node_modules
.pnpm-store
.out
.DS_Store
.env
.env.*
!.env.example
.next
coverage
*.log
/apps/web/out
/apps/api/dist
/apps/api/.func
/apps/api/local.settings.json
/apps/api/.azurefunctions
/apps/api/node_modules
apps/web/.next
pnpm-lock.yaml
